interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/institutions?group_by=has_ror&filter=has_ror%3Atrue
  response:
    body:
      string: '{"meta":{"count":2,"db_response_time_ms":17,"page":1,"per_page":200},"results":[],"group_by":[{"key":"true","key_display_name":"true","count":102392},{"key":"false","key_display_name":"false","count":0}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status:
      code: 200
      message: OK
version: 1
