interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/venues?group_by=is_oa
  response:
    body:
      string: '{"meta":{"count":3,"db_response_time_ms":11,"page":1,"per_page":200},"results":[],"group_by":[{"key":"false","key_display_name":"false","count":58988},{"key":"true","key_display_name":"true","count":38930},{"key":"unknown","key_display_name":"unknown","count":26148}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status:
      code: 200
      message: OK
version: 1
