interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/concepts?group_by=level&filter=level%3A%3E3
  response:
    body:
      string: '{"meta":{"count":2,"db_response_time_ms":9,"page":1,"per_page":200},"results":[],"group_by":[{"key":"4","key_display_name":"4","count":12406},{"key":"5","key_display_name":"5","count":6136}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status:
      code: 200
      message: OK
version: 1
