interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/concepts?group_by=level
  response:
    body:
      string: '{"meta":{"count":6,"db_response_time_ms":5,"page":1,"per_page":200},"results":[],"group_by":[{"key":"3","key_display_name":"3","count":24768},{"key":"2","key_display_name":"2","count":21460},{"key":"4","key_display_name":"4","count":12406},{"key":"5","key_display_name":"5","count":6136},{"key":"1","key_display_name":"1","count":284},{"key":"0","key_display_name":"0","count":19}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status:
      code: 200
      message: OK
version: 1
